.form_container {
    width: 30%;
}

.form-control {
    border-radius: 15px;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
    .form_container {
        width: 45%;
    }
}
@media screen and (max-width: 700px) {
    .form_container {
        width: 65%;
    }
}

.form-width-control {
    max-width: 400px; /* Adjust this value based on your preference */
    margin: auto; /* This centers the div */
}

/* Optional: Additional styling to ensure consistency across devices */
@media (min-width: 768px) {
    /* Adjust breakpoint as needed */
    .form-width-control {
        max-width: 400px;
        margin: auto;
    }
}
